<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bytebitx.media">

    <application>
        <activity
            android:screenOrientation="landscape"
            android:name=".ui.activity.VideoActivity"/>
    </application>

</manifest>